* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(/images/rabbi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
    font-family: 'Drugulin CLM', serif;
}

.grid1 {
    background: #35424a;
    color: #ffffff;
    margin-bottom: 50px;
    padding-top: 20px;
    min-height: 70px;
}

.grid1 a:hover {
    opacity: 0.4;
}

.grid1 img {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 85%;
    top: -5px;
}

.grid1 h1 {
    color: black;
    position: absolute;
    right: 64%;
    margin-left: 10%;
}

.grid1 a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    padding: 10px;
    float: right;
}

.grid1 a :hover {
    color: #5e5a5a;
    font-weight: bold;
    border-color: var(--shadow);
    text-shadow: 2px 2px var(--dark);
}

.sap {
    font-size: 20px;
    font-family: 'Drugulin CLM', serif;
}

p {
    float: inline-end;
    text-align: center;
}

img {
    margin-left: 550px;
}

.answer {
    position: absolute;
    right: 550px;
    bottom: 50px;
}

form #question,
#contact,
h1 {
    margin-right: 20px;
}

.answer [type=text] {
    padding: 50px;
    border-bottom: 2px solid blue;
}

.answer label[for=text] {
    position: relative;
    top: -70px;
    left: -90px;
    color: blue;
}

input[type=text] {
    border-radius: 5px;
}